@model emarket.ViewModels.Product.ProductViewModel
@*<head>
        @RenderSection("Style", required: false)
    </head>*@

<style type="text/css">

    .parentProductCard {
        width: 95%;
    }

    @@media (min-width: 320px) {
        .productCard {
            width: 47.5%;
            float: left;
            margin-right: 2.5%;
        }

        .parentProductCard {
            text-align: center;
            margin-left: 25px;
        }
    }

    @@media (min-width: 768px) and (max-width:991px) {
        .productCard {
            width: 31.666%;
            float: left;
            margin-right: 1.66%;
        }

        .parentProductCard {
            text-align: center;
            margin-left: 25px;
        }
    }

    @@media (min-width: 992px) {
        .productCard {
            width: 15.833%;
            float: left;
            margin-right: .83%;
            
        }
        .parentProductCard {
            text-align: center;
            margin-left: 25px;
        }
    }
</style>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Products</h2>

<hr />

<div class="container-fluid">
    @using (Html.BeginForm("Index", "Products", FormMethod.Post, new { @style = "margin-bottom:20px;margin-left:15px" }))
    {
        <div class="row">
            <div class="form-group col-md-12" style="margin-bottom:20px">
                @Html.Label("Product Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Filter.ProductName, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                </div>
            </div>

            <div class="form-group col-md-12">
                @Html.Label("Category", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(x => x.Filter.CategoryId, new SelectList(ViewBag.Categories, "Id", "Name"), "-Select Category-", new { @class = "col-md-3 form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary" style="margin-left:30px">Search</button>
            @Html.ActionLink("Add Product", "Create", null, new { @class = "btn btn-success" })
        </div>
    }
    <div class="parentProductCard">
        @foreach (var product in Model.Products)
        {
            <div class="productCard">
                <div class="card thumbnail">
                    <div class="car-header" style="text-align:center;">
                        <a class="btn btn-light" id="edit_@product.Id" onclick="createModal('@Url.Action("Details", "Products", new { id = product.Id })')">
                            <img class="img-fluid" src="~/Uploads/@product.Image" style="height:150px" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 style="overflow: hidden;">@product.Name</h4>
                        <h4 style="overflow: hidden;">@product.Price.ToString("#.##") LE</h4>
                    </div>
                    <hr />
                    <div class="card-footer">
                        @using (Html.BeginForm("Create", "Carts", new { id = product.Id }))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-success" onclick="javascript:return ShowMessage();">+ Add To Cart</button>
                        }
                    </div>
                </div>
            </div>

        }
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js">

</script>
<script>
    function createModal(url) {
        $('#modalContent').load(url);
        $('#myModal').modal('show');
    }

    function ShowMessage() {
        var result = confirm("Do you want to add this product to cart ?");
        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>
<div class="container-fluid">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modalContent">

            </div>
        </div>
    </div>
</div>